<section id="multiple-column-form">
    <div class="row match-height">
      <div class="col-12">
        <div _ngcontent-jat-c176 class="card">
          <div _ngcontent-jat-c176 class="card-header">
          <h4 class="card-title">Ajouter Role</h4>
          </div>
          <div class="card-body">
<div class="col-md-6 col-12">
   
  </div>
  <div class="col-md-6 col-12">
    <div class="form-group">
      <label for="last-name-column">role</label>
      <input
        type="text"
        id="role"
        class="form-control"
        placeholder="role"
        [(ngModel)]="role.roleName"
        name="role" 
        required
    
      />
   
    </div>
  </div>
  <div class="col-12">
    <button type="submit" rippleEffect class="btn btn-primary mr-1" (click)="onSubmit()">Ajouter</button>
    <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
  </div></div></div></div></div>