<div class="card-body">
  <!-- header media -->
  <form class="validate-form mt-2"  enctype="multipart/form-data"> 
  <div class="media">
    <a href="javascript:void(0);" class="mr-25">
      <img
        [src]="avatarImage"
        class="rounded mr-50"
        alt="profile image"
        height="76"
        width="80"
      
      />
    </a>
    
    <!-- upload and reset button -->
    <div class="media-body mt-75 ml-1">
      <button (click)="file.click()" for="account-upload" class="btn btn-sm btn-primary mb-75 mr-75" rippleEffect>
        Upload
      </button>
      <input type="file" #file id="account-upload" hidden accept="image/*" (change)="uploadImage($event)"/>
      <button class="btn btn-sm btn-outline-secondary mb-75" rippleEffect>Reset</button>
      
    </div>
    <!--/ upload and reset button -->
  </div>
  <!--/ header media -->

  <!-- form -->
 
    <div class="row">
      <div class="col-12 col-sm-12">
        <div class="form-group">
          <label for="account-title">titre</label>
          <input
            type="text"
            [(ngModel)]="categorie.nom"
            class="form-control"
            id="account-username"
            name="nom"
            placeholder="titre"
            #titreVar="ngModel"
            [ngClass]="{'is-invalid': titreVar.touched && !titreVar.valid}"
          />
        </div>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary mt-2 mr-1" (click)="onSubmit()" rippleEffect>Ajoute</button>
      <button type="reset" class="btn btn-outline-secondary mt-2" rippleEffect>Cancel</button>
    </div>
    
    </form>
</div>
