<div class="content-wrapper">
    <div class="content-body">
      <!-- Invoice List -->
      <section class="invoice-list-wrapper">
        <div class="card">
          <!-- Invoice List Header -->
          <div class="card-header"><h4 class="card-title">Liste Contact</h4></div>
          <div class="row">
            <div class="col-md-6 col-12">
              <div class="d-flex justify-content-between align-items-center m-1">
                <div class="d-flex align-items-center">
                  <label class="d-flex align-items-center"
                    >Show
                    <select class="form-control mx-25" [(ngModel)]="selectedOption">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select>
                  </label>
                  <button class="btn btn-primary ml-2" routerLink="/apps/invoice/add" rippleEffect>Add Record</button>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 col-12 d-flex justify-content-start justify-content-md-end align-items-center offset-lg-2">
              <div class="row pr-1 pb-1 pb-md-0 align-items-center w-100">
              <div class="col-10 col-md-6 pr-0">
                <label class="d-flex align-items-center mb-0 ml-1 ml-md-0"
                  ><input
                    [(ngModel)]="searchValue"
                    name="searchValue"
                    type="search"
                    class="form-control"
                    placeholder="Search..."
                    (keyup)="filterUpdate($event)"
                /></label>
              </div>
                <div class="col-10 col-md-6 mt-2 ml-1 ml-md-0 mt-md-0">
                  <fieldset class="form-group mb-0">
                  <ng-select [items]="selectStatus" [(ngModel)]="selectedStatus" bindLabel="name" placeholder="Select Status" (change)="filterByStatus($event)"></ng-select>
                  </fieldset>
                </div>
              </div>
            </div>
          </div>
          <!--/ Invoice List Header -->
  
          <!-- Invoice List Table -->
       
         <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nom</th>
          
              
              <th>Email</th>
              <th>telphone</th>
              <th>sujet</th>
              <th>message</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let  of ">
              <td>
                {{client.idClient}}
                   </td>
              <td>
           {{client.nom}}
              </td>
           
              
              <td>
                {{client.email}}
              </td>
              <td>
                {{client.telphone}}
              </td>
              <td>
                {{client.login}}
              </td>
              <td>
                {{client.mdp}}
              </td>
             
              
               
                  <button type="button" class="btn btn-info btn-sm"(click)=" updateClient(client.idClient) " >
                    Edit
                  </button>
                  <button  class="btn btn-danger btn-sm" (click)="deleteclient(client.idClient)"  >
                    Delete
                  </button> 
             
              
            
            </tr>
         
            
          </tbody>
        </table>
         </div>
      </section>
      <!--/ Invoice List -->
    </div>
  </div>
  